.about-section {
    margin-bottom: 30px;
    text-align: justify; 
}

.about-section h3 {
    color: #DE6B78; 
    font-size: 20px;
    margin-bottom: 10px;
    text-align: center; 
}
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1-fr));
    gap: 30px;
}

.about-features {
    display: flex;
    justify-content: center;
    gap: 15px;         
    margin-top: 20px;
    flex-wrap: wrap;    
}

.feature-item {
    background-color: #DE6B78; 
    color: white;              
    padding: 10px 22px;
    border-radius: 25px;       
    font-weight: bold;
    font-size: 14px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
    transition: transform 0.2s;
}

    * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial Rounded MT Bold', 'Comic Sans MS', sans-serif;
    color: #6C544C;
}


body {
    background-color: #FBBBB9; 
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(background.jpeg);
}


.navbar {
    width: 90%;
    max-width: 1000px;
    background-color: rgba(255, 255, 255, 0.5) ;
    padding: 10px 20px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 5px solid  #FCD6D7; 
    margin-bottom: 40px;
}

.nav-logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-img {
    width: 35px;
    height: 35px;
}

.logo-text {
    font-size: 22px;
    color: #6C544C; 
}

.nav-links a {
    text-decoration: none;
    color: #6C544C;
    font-size: 18px;
    margin-left: 20px;
    transition: color 0.3s;
}

.nav-links a:hover, .nav-links a.active {
    color: #DE6B78;
}


.main-container {
    width: 90%;
    max-width: 1000px;
    background-color: #FCD6D7;
    border-radius: 30px;
    padding: 60px 40px;
    position: relative; 
    min-height: 450px;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5);
}
.content-text {
    width: 75%;
    text-align: center;
    z-index: 2; 
}

.judul-besar {
    color: #C05865;
    margin: 20px ;
}
.sub-judul {
    color: #C05865; 
    font-size: 18px;
    margin-bottom: 15px;
    font-style: italic;
}

.paragraf {
    color: #7A5C52; 
    font-size: 16px;
    line-height: 1.6;
}

.pembatas-bawah {
    margin-top: 25px;
    z-index: 2;
}

.pita-tengah {
    width: 200px;
}

.ornamen {
    position: absolute;
    height: auto;
}

.pita-kiri {
    top: 20px;
    left: 20px;
    width: 80px;
}

.pita-kanan {
    top: 20px;
    right: 20px;
    width: 80px;
}

.ceri {
    top: 40%;
    right: 40px;
    width: 50px;
}

.bunga-pink {
    bottom: 40%;
    left: 40px;
    width: 40px;
}

.kelinci {
    bottom: 20px;
    left: 40px;
    width: 60px;
}

.bunga-bawah {
    bottom: 20px;
    right: 40px;
    width: 70px;
}

.menu-list {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.section-title {
    font-size: 2rem;
    margin-bottom: 30px;
    text-align: center;
    position: relative;
    color: #6C544C;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1-fr));
    gap: 30px;
}

.card {
    background: white;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0,0,0,0.05);
    transition: transform 0.3s;
    border-top: 5px solid #ff4a5a;
    padding: 25px;
}

.card:hover {
    transform: translateY(-5px);
}

.card-badge {
    background-color: #ffeff1;
    color: #ff4a5a;
    display: inline-block;
    padding: 5px 12px;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    margin-bottom: 15px;
}

.card-body h4 {
    font-size: 1.3rem;
    margin-bottom: 10px;
    color: #222;
}

.card-body p {
    color: #666;
    font-size: 0.95rem;
}

footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
    font-size: 0.9rem;
}

